<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SEMP"
        android:theme="@style/Theme.SEMP"
        android:usesCleartextTraffic="true"> <activity android:name="com.example.semp.MainActivity" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity android:name="com.example.semp.EstoqueActivity" />
        <activity android:name="com.example.semp.CarrinhoActivity" />
        <activity android:name="com.example.semp.VisualizarPedidoActivity" />
        <activity android:name="com.example.semp.CadastrarProdutoActivity" />
        <activity android:name="com.example.semp.ProdutoDetalheActivity" />
        <activity android:name="com.example.semp.FazerPedidoActivity" />
        <activity android:name="com.example.semp.CadastrarUsuarioActivity" />
        <activity android:name="com.example.semp.AutorizarPedidosActivity" />
        <activity android:name="com.example.semp.ConfigEstoqueActivity" />
        <activity android:name="com.example.semp.RastreioActivity" />
        <activity android:name="com.example.semp.ItensEmprestadosActivity" />
        <activity android:name="com.example.semp.MovimentacoesActivity" />
        <activity android:name="com.example.semp.CadastrarUnidades" />

    </application>
</manifest>